.home-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

.search-input{
    padding: 10px 100px;
}
.search-btn{
    padding:10px 15px;
}
.cart{
    border: 1px solid gray;
    box-shadow: 4px 4px 4px 8px rgb(202, 202, 202);
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}
.cart-info-container{
    display: flex;
    justify-content: center;
}
.delete-btn{
    padding: 5px, 8px;
    background-color: rgb(138, 0, 0);
    color: white;
    border: none;
    margin-left: 5px;
    border-radius: 5px;
}
.delete-btn:hover{
    background-color: rgb(255, 40, 40);
}